#id1 {
    font-family: 'Times New Roman', Times, serif;
    color: plum;
    font-style: italic;
    font-weight: thin;
    line-height: 22px;
    text-align: right;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 4px;
    word-spacing: 13px;
    text-shadow: 2px 3px black;
}