/* #id1 {
    font-family: 'Times New Roman', Times, serif;
    color: plum;
    font-style: italic;
    font-weight: thin;
    line-height: 22px;
    text-align: right;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 4px;
    word-spacing: 13px;
    text-shadow: 2px 3px black;
} */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#id1 {
    width: 200px;
    padding: 10%;
    border-radius: 100px;
    border: 5px solid palevioletred;
    margin-top: 0;
    background-color: plum;
    font-size: 20px;
    text-align: center;






}